
/* global styling */
:root {
    --primary-color: rgba(239, 239, 239, 1);
    --overlay-color: rgba(239, 239, 239, 1);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* logo styling */
.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo img {
    width: 8%;
}

/* landing stlying */

.landing {
    /* padding: 2em; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landingLeft {
    margin: 5% 5%;
    padding: 1em;
    width: 45vw;
}

.landingLeft img {
    width: 100%;
}

.landingRight {
    padding: 1em;
    width: 40vw;
    /* margin-left: 5%; */
}

.landingRight h1 {
    margin: 1em;
}

/* landing for the about page */

.aboutLanding {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.aboutLeft {
    margin: 5% 5%;
    padding: 1em;
    width: 45vw;
}

.aboutLeft img {
    width: 100%;
}

.aboutRight {
    padding: 1em;
    width: 40vw;
    margin-top: 5%;
}

.aboutRight h1 {
    margin: 1em;
}



h1, h2, h3, h4, h5, a {
    font-family: "Mr Eaves San OT", "Josefin Sans", sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Whitman', serif;
    margin: 2em;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #87C6BD;
    transition: color 0.4s ease;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 30px;
    font-family: "Mr Eaves San OT", "Josefin Sans", sans-serif;
    cursor: pointer;
  }

  button:hover {
      background-color: #87C6BD;
      transition: background-color 0.4s ease;
  }

.tabWrapper {
    position: relative;
    margin: 10px;
    padding: 0.2em;
}

.tabList {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Mr Eaves San OT", "Josefin Sans", sans-serif;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 3em 15%;
}
.tabList li {
    border: 2px solid #000000;
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 0.5em 1.5em;
}

.tab {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    background-color: #EFEFEF;
    font-family: "Mr Eaves San OT", "Josefin Sans", sans-serif;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    padding: 2em;
    margin: 1em 20%;
    cursor: pointer;
}

.tab:hover {
    background-color: #87C6BD;
    color: #FFFFFF;
    transition: color 0.4s ease;
}

.tab ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.tab li {
    justify-self: center;
    font-size: 20px;
    margin: 1em;
}

.inactive {
    display: none;
}

.tabList > .checked {
    background-color: #000000; 
    color: #FFFFFF;
}

.tabList > .checked:hover {
    background-color: #87C6BD;
    color: #FFFFFF;
    transition: color 0.4s ease;
}

.workHeading {
    display: flex;
    justify-content: center;
    margin: 60px;
    margin-bottom: 70px;
    font-weight: 500;
}

.project {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    margin: 40px;
}

.projectLeft {
    padding: 60px;
    margin-right: 10px;
    width: 40%;
}
.projectRight {
    /* margin-left: 20px; */
    padding: 20px;
    width: 40%;
}

.projectLeft > h5 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.projectLeft > h4 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EFEFEF;
    padding: 40px;
}

footer > h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

.socialIcons {
    list-style-type: none;
    display:inline-block;
    margin: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    .landing {
        flex-direction: column;
        padding: 10px;
    }
    .landingLeft {
        width: 60%;
    }
    .landingRight {
        padding: 10px;
        width: 60%;
    }
    .project {
        flex-direction: column;
    }
    .projectLeft {
        padding: 10px;
        width: 60%;
    }
    .projectRight {
        padding: 10px;
        width: 60%;
    }

}
@media screen and (max-width: 600px) {}

